In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data_NLS.csv')

In [3]:
df.head(10)

,ID,Begin,End,Sequence_x,Length,Sequence_y
0,Q14738,548,565,KRTVETEAVQMLKDIKKE,18,MPYKLKKEKEPPKVAKCTAKPSSSGKDGGGENTEEAQPQPQPQPQP...
1,Q13362,416,422,KLKEKLK,7,MLTCNKAGSRMVVDAANSNGPFQPVVLLHIRDVPPADQEKLFIQKL...
2,Q9NRA8,195,211,RREFGDSKRVFGERRRN,17,MDRRSMGETESGDAFLDLKKPPASKCPHRYTKEELLDIKELPHSKQ...
3,P42684,658,660,KKR,3,MGQQVGRVGEAPGLQQPQPRGIRGSSAARPSGRRRDPAGRTTETGF...
4,Q4JIM5,659,661,KKR,3,MGQQVGRVGEAPGLQQPQPRGIRGSSAARPSGRRRDPAGRTADAGF...
5,P55263,8,16,PKPKKLKVE,9,MAAAEEEPKPKKLKVEAPQALRENILFGMGNPLLDISAVVDKDFLD...
6,P42568,295,300,AKKRKK,6,MASSCAVQVKLELGHRAQVRKKPTVEGFTHDWMVFVRGPEHSNIQH...
7,Q09666,4971,4979,KIPKFKKPK,9,MEKEETTRELLLPNWQGSGSHGLTIAQRDDGVFVQEVTQNSPAART...
8,Q09666,5019,5027,KKSKFKMPK,9,MEKEETTRELLLPNWQGSGSHGLTIAQRDDGVFVQEVTQNSPAART...
9,Q09666,5034,5039,KIKAKK,6,MEKEETTRELLLPNWQGSGSHGLTIAQRDDGVFVQEVTQNSPAART...

In [20]:
all_sequences = ''.join(df['Sequence_y'])

aa_counts = {}
for aa in all_sequences:
    if aa in ['X','Z']:
        continue
    if aa in aa_counts:
        aa_counts[aa] += 1

    else:
        aa_counts[aa] = 1

total_aa = sum(aa_counts.values())
aa_frequencies = {aa: count/ total_aa for aa, count in aa_counts.items()}


print(aa_frequencies)

{'M': 0.02211207580407797, 'P': 0.07190226876090751, 'Y': 0.02350057717452554, 'K': 0.07186287865110758, 'L': 0.08816710159912904, 'E': 0.07915770815211147, 'V': 0.05594599178278543, 'A': 0.0684939300934968, 'C': 0.01752750469125266, 'T': 0.04976502705334625, 'S': 0.09052722567797492, 'G': 0.06453522405860374, 'D': 0.052761957907291, 'N': 0.035706040363920846, 'Q': 0.05032743028771193, 'R': 0.05507175017917029, 'I': 0.03830797595014963, 'F': 0.031072231613845622, 'H': 0.02474574231209003, 'W': 0.008509357886501775}

In [24]:
keys_list = sorted(list(aa_frequencies.keys()))
print(''.join(keys_list))

ACDEFGHIKLMNPQRSTVWY