In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../yamagishi_kaneko_NLS_table.csv')

In [3]:
df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Table S1. Information on NLSs identified in Un...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No.,Protein,NaN,NLS,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,UniProt ID,Name,Begin,End,Sequence,Length,Evidence,ECO code,NaN
4,1,Q14738,Serine/threonine-protein phosphatase 2A 56 kDa...,548,565,KRTVETEAVQMLKDIKKE,18,Sequence Analysis,ECO:0000255,NaN

In [4]:
# Clean the data
df_cleaned = df.iloc[4:,:]
df_cleaned = df_cleaned.reset_index(drop=True)
df_cleaned = df_cleaned.iloc[:,1:-1]
df_cleaned.columns = ['UniProt ID', 'Name', 'Begin', 'End', 'Sequence', 'Length', 'Evidence', 'ECO code']
print(df_cleaned)

     UniProt ID                                               Name Begin  End  \
0        Q14738  Serine/threonine-protein phosphatase 2A 56 kDa...   548  565
1        Q13362  Serine/threonine-protein phosphatase 2A 56 kDa...   416  422
2        Q9NRA8  Eukaryotic translation initiation factor 4E tr...   195  211
3        P42684                  Abelson tyrosine-protein kinase 2   658  660
4        Q4JIM5                  Abelson tyrosine-protein kinase 2   659  661
...         ...                                                ...   ...  ...
1359     Q96CK0                            Zinc finger protein 653   107  118
1360     Q96CK0                            Zinc finger protein 653   445  451
1361     Q24JY4        Zinc finger HIT domain-containing protein 1    38   47
1362     O43257        Zinc finger HIT domain-containing protein 1    38   47
1363     Q8R331        Zinc finger HIT domain-containing protein 1    38   47

                Sequence Length           Evidence     ECO code
0     KRTVETEAVQMLKDIKKE     18  Sequence Analysis  ECO:0000255
1                KLKEKLK      7  Sequence Analysis  ECO:0000255
2      RREFGDSKRVFGERRRN     17                NaN          NaN
3                    KKR      3  Sequence Analysis  ECO:0000255
4                    KKR      3  Sequence Analysis  ECO:0000255
...                  ...    ...                ...          ...
1359        PKKPKRKKRRRR     12  Sequence Analysis  ECO:0000255
1360             EPEKRRR      7  Sequence Analysis  ECO:0000255
1361          DNFQDDPHAG     10      By similarity  ECO:0000250
1362          DNFQDDPHAG     10                NaN          NaN
1363          DNFQDDPHAG     10      By similarity  ECO:0000250

[1364 rows x 8 columns]

In [5]:
NLS_sequence = df_cleaned['Sequence']
NLS_sequence.str.len().idxmax()
type(NLS_sequence)

pandas.core.series.Series

In [6]:
# Extract the sequence columns
NLS_sequence = df_cleaned['Sequence']

# # There is one entry of length 204. For alignment purpose, we delete it
# max_ind = NLS_sequence.str.len().idxmax()
# NLS_sequence_one_deleted = NLS_sequence.drop(max_ind)


# Add '-' so that all sequences to have the same length
max_length = max(len(s) for s in NLS_sequence)
NLS_sequence_padded = [s +'-' * (max_length - len(s)) for s in NLS_sequence]

In [7]:
# # Create 'aligned' NLS motifs
with open('NLS_sequences_padded.txt', 'w+') as f:
    for s in NLS_sequence_padded:
        print(s, file = f)